/* Base styles for mobile-first design */
body {
  background-color: white;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  border-bottom: plum solid 5px;
  font-weight: 600;
}

p,
li {
  font-family: Helvetica, sans-serif;
}

a {
  font-family: Helvetica, sans-serif;
  font-size: smaller;
  font-style: italic;
}

section {
  padding: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 2px -2px gray;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* Experience section styles */
.experience {
  display: flex;
  flex-direction: column;
}

.job-container {
  background-color: #e9f7f8;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.job {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 0px;
  border-bottom: 2px solid rgb(152, 181, 193);
}

.job-title {
  flex: 1;
}

.job-period {
  flex: 0 0 150px;
  text-align: right;
}

.job-description {
  margin-left: 10px;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.social-links a {
  display: inline-block;
}

.social-links img {
  width: 30px;
  height: 30px;
}

/* Tablet styles */
@media (min-width: 768px) {
  /* Adjust h1 and h2 font size and color */
  h1 {
    font-size: 2.5rem;
    color: #ff5101;
  }

  h2 {
    font-size: 1.8rem;
    color: #0944a1;
  }

  /* Adjust padding and margin for sections */
  section {
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Adjust nav bar padding and text color */
  nav {
    padding: 15px;
  }

  nav ul li a {
    color: #0944a1;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  /* Adjust h1 and h2 font size and color */
  h1 {
    font-size: 3rem;
    color: #0944a1;
  }

  h2 {
    font-size: 2rem;
    color: #ff5101;
  }

  /* Adjust padding and margin for sections */
  section {
    padding: 15px;
    margin-bottom: 30px;
  }

  /* Adjust nav bar padding and text color */
  nav {
    padding: 20px;
  }

  nav ul li a {
    color: #ff5101;
  }

  /* Convert Experience section to grid layout */
  .experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .job-container {
    padding: 30px;
  }
}
